@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900);

.abtn {
  background: rgba(white, 0);
  color: white;
  padding: 0.25em;
  text-decoration: none;

  &:hover {
    background: rgba(white, 1);
    color: #eb9309;
  }
}

.btn {
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;

  @media (min-width: 600px) {
    margin: 0 1em 2em;
  }

  &:hover {
    text-decoration: none;
  }
}

.btn-1 {
  background: darken(green, 1.5%);
  font-weight: 100;

  svg {
    height: 35px;
    left: 0;
    position: absolute;
    top: 50;
    width: 100%;
  }

  rect {
    fill: none;
    stroke: #eb9309;
    stroke-width: 2;
    stroke-dasharray: 422, 0;
    transition: all 0.35s linear;
  }
}

.btn-1:hover {
  background: rgba(#eb9309, 0);
  font-weight: 900;
  letter-spacing: 1px;
  transition: all 0.35s linear;
  rect {
    stroke-width: 5;
    stroke-dasharray: 15, 310;
    stroke-dashoffset: 48;
    transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
  }
}
